/* .square {
  border: 1px solid lightgrey;
} */
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  border: 2px solid black;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  width: 150px;
  height: 50px;
}
